# Ignore any compiled solutions.
solution
zig-cache/

# Ignore any nrepl files
.nrepl-port

# Ignore any installed Clojure dependencies
.cpcache

# Ignore Visual Studio Code workspace files
*.code-workspace

# Ignore the Dylan build directories
_build
